* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background-color: red;
    /* position: fixed; */
    /* top: 0; */
    /* right: o; */
    /* bottom: 0; */
    /* left: 0; */
    position: sticky;
    top: 0;
    /* bottom: 0; */
    z-index: 10;
}

section {
    width: 100%;
    height: 100vh;
}

#sec1 {
    background-color: green;
}

#sec2 {
    background-color: brown;
}

#sec3 {
    background-color: darkgoldenrod;
    position: relative;
}

.div1 {
    width: 200px;
    height: 200px;
    background-color: black !important;
}

#d1 {
    background-color: darkmagenta;
    position: absolute;
    top: 100px;
    right: 200px;
}